.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background: #222;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 120%; /* Place above */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 100%; /* Position right below the tooltip box */
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #222 transparent transparent transparent; /* Arrow color same as tooltip background */
}
