.slider {
    position: relative;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
}
.slider img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}
.dot-circle-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    margin-top: 10px;
}
.dot-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.light-background {
    background-color: aqua;
}
.dark-background {
    background-color: black;
}
